.App {
  background-color: #afd4c0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.middle {
  background-color: #e5f4ec;
  height: 100vh;
  width: 50%;
}
.dashboard-header {
  display: flex;
  justify-content: center;
}
.houses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listings {
  width: 4000px;
  height: 100px;

  background-color: #dedede;
}
